@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');
@font-face{
    font-family: aGaramondPro;
    src: url(./font/AGaramondPro-Regular.woff);
}

/* Index Home */
.body-home{
    background-image: url(./img/background3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
}

/* Barra de menu */
.menu-bar{
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    padding: 0%;
    background-color: #07090a;
    list-style-type: none;
    overflow: hidden;
}

.menu-option{
    width: 33.33%;
    height: auto;
    float: left;
}

.menu-option a{
    display: block;
}

.menu-bar a{
    width: 100%;
    padding: 2%;
    color: white;
    font-family: aGaramondPro;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    
}
.menu-bar a:hover:not(.active) {
    background-color: #162228;
  }
  
.active{
    background-color: #896331;
}
.active:hover {
      background-color: #937341;
      color:black;
      font-weight: bold;
  }
.home-container div {
    background-color: rgba(255, 255, 255, 0.7);
    width: 48%;
    margin: 1%;
    float: left;
}

.explanation-box h2{
    font-family: aGaramondPro;
    padding: 1%;
}
.explanation-box h3{
    font-family: aGaramondPro;
}
.explanation-box p{
    font-family: 'ZCOOL KuaiLe';
    padding: 1%;
}

.btn-playnow{
    background-color: #937341;
    border: 2px outset #896331;
    color: black;
    font-family: 'ZCOOL KuaiLe';
    font-size: 25px;
    outline: none;
    text-decoration: none;
    transition-duration:0.5s;
    width: 40px;
    height: 34px;
    overflow: hidden;
    
}
.btn-playnow:hover{
    transition: 0.3s ease;
    font-weight: bold;
    background-color: #A68747;
    border: 2px outset #937341;
}
.btn-playnow:active{
    box-shadow: 0 1px #101A1C;
    transform: translateY(2px);
}

.sc-img{
    width: 90%;
    height: auto;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1% 0 0 0;
    font-family: 'ZCOOL KuaiLe';
    color: gray;   
}


/*Index List of champions*/
.body-champs{
    background-image: url(./img/background2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-repeat: repeat-x;
}
  
section{
    margin: auto;
}

.title-lol{
    display: block;
    margin: auto;
    width: 35%;
    
}

.search-bar{
    border: none;
    border-radius: 5px;
    background-color: rgba(217, 217, 219,0.8);
    padding: 8px;
    width: 90%;
    margin: 20px auto auto auto;
}

.champions-sort, .champions-search, .champions-filter{
    padding: 2px;
    justify-content: center;
    border: none
}

.lol-filter, .lol-sort{
    border: 2px solid #896331;
    font-family: 'ZCOOL KuaiLe';
    padding: 2px
}

.search-champion{
    width:85%;
    border: 2px solid #896331;
    border-radius: 5px;
    outline:none;
    resize: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'ZCOOL KuaiLe';
    padding: 5px

}

.search-btn{
    background-color: #937341;
    border: 2px outset #896331;
    font-family: 'ZCOOL KuaiLe';
    font-size: 25px;
    outline: none;
    transition-duration:0.5s;
    width: 40px;
    height: 34px;
    overflow: hidden;
}
.search-btn:hover{
    transition: 0.3s ease;
    font-weight: bold;
    background-color: #A68747;
    border: 2px outset #937341;
}
.search-btn:active{
    box-shadow: 0 1px #101A1C;
    transform: translateY(1px);
}

.checkbox-inline{
    display: inline-flex;
    margin: 5px;
    font-family: 'ZCOOL KuaiLe';
    font-weight: bold;
}

.container-list{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-link{
    padding: 10px;
}

.blog-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: #07090a;
    color: #896331;
    opacity: 0.9;
    border: 3px solid #937341;
    border-radius: 4%;
    font-family: 'ZCOOL KuaiLe';
    overflow: hidden;
    margin: 5px;
    padding: 20px;
    width: 140px;
    height: 220px;
    float: left;
    outline:none;
    word-wrap: break-word;
    text-decoration: none;
}

.blog-card:hover{
    
    background-color: #07090a;
    border: 3px solid #A68747;
    opacity: 1;
    transition: 0.3s ease;
    cursor: pointer;
    
}

.blog-card:active{
    transform: translateY(2px);
}

.blog-card img{
    display: flex;
    align-content: flex-end;
    margin: auto;
    width: 40%;
    height: 30%;
}

.article-details{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.post-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.post-title img{
    width:15px;
    opacity: 1;
    padding: 0%;
    margin: auto 10px;

}

@media (max-width: 900px)
{
    .search-champion{
        width:80%
    }

}

@media (max-width: 650px)
{
    .search-champion{
        width:70%
    }
}

@media (max-width: 700px)
{
    body{
        padding: 0px
    }
    .title-lol{
        width: 55%;
    }
    .subtitle-lol{
        font-size: 120%;
        padding: 5%
    }
    .blog-card{
        width: 101px;
        height: 144px;
        padding: 8%;
        font-size: 65%
    }
    .post-name, .post-title{
        margin: 2px
    }
    .container-list{
        margin: auto;
        padding-top: 2%
    }
}
@media (max-width: 400px)
{
    .blog-card{
        width: 90px;
        height: 128px;
        padding: 2%;
        font-size: 63%
    }
}

.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}
 
.modal-close {
    color: white;
    line-height: 25px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;
    text-decoration: none;
}

.modal-close:hover {
    color:gray;
  }

.modal-content{
    font-family: 'ZCOOL KuaiLe';
    width: 700px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
}


table, th, td {
    border: 2px inset #896331;
    border-collapse: collapse;
  }

.modal-info{
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    width: 55%;
    height: 90%;
    color: black;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border: 3px inset #896331;
    border-radius: 1%;
}

.modal-info img{
    padding-top: 15px;
}

.modal-info h1{
    margin: 0 auto;
    font-size: 40px;
}

.modal-info h3{
    margin: 0 auto;
    font-size: 25px;
}

.modal-info p{
    
}

.modal-img{
    background-position: center;
    width: 100%;
    height: auto;
}


  
