@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');
@font-face{
    font-family: aGaramondPro;
    src: url(./font/AGaramondPro-Regular.woff);
}

/* Index Home */
.body-home{
    background-image: url(./img/background3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 0px
}
 /* Barra de menu */
 .menu-bar{
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    padding: 0%;
    background-color: #07090a;
    list-style-type: none;
    overflow: hidden;
    font-family: aGaramondPro;
}

.menu-bar li{
    width: 800px;
}

.menu-bar a{
    display: block;

    color: white;
    font-size: 25px;
    text-decoration: none;
    text-align: center; 
    padding: 10px;  
}

.menu-bar a:hover:not(.active) {
    background-color: #162228;
  } 
  
.active{
    background-color: #896331;
}

.video-container{
    text-align: center
}


.explanation-box {
    background-color: rgba(255, 255, 255, 0.6);
    width: 46%;
    height: 1200px;
    margin: 1%;
    float: left;
    border: 5px inset #896331;
    overflow: auto;
}

.summoners-code{
    background-color: rgba(255, 255, 255, 0.1);
    width: 48%;
    margin: auto;
    float: left;
    height: 48%;
    padding-bottom: 30px;
}
.kda-video{
    width: 560px;
    height: 315px;
}

.explanation-box h1{
    font-family: aGaramondPro;
    padding: 1%;
}
.explanation-box h2{
    font-family: aGaramondPro;
    padding: 1%;
    border-top: 1px solid black;
}
.explanation-box p{
    font-family: 'ZCOOL KuaiLe';
    padding: 1% 0;
}

.btn-playnow{
    background-color: #937341;
    border: 2px outset #896331;
    color: black;
    font-family: 'ZCOOL KuaiLe';
    font-size: 25px;
    outline: none;
    text-decoration: none;
    transition-duration:0.5s;
    width: 40px;
    height: 34px;
    overflow: hidden;    
}
.btn-playnow:hover{
    transition: 0.3s ease;
    font-weight: bold;
    background-color: #A68747;
    border: 2px outset #937341;
}
.btn-playnow:active{
    box-shadow: 0 1px #101A1C;
    transform: translateY(2px);
}

.sc-img{
    width: 90%;
    height: auto;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1% 0 0 0;
    font-family: 'ZCOOL KuaiLe';
    color: gray;   
}


/*Index List of champions*/
.body-champs{
    background-image: url(./img/background2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    background-repeat: repeat-x;
}
  
section{
    margin: auto;
}

.title-lol{
    display: block;
    margin: auto;
    width: 35%;
    
}

.logo-lol{
    display: flex;
    justify-content: left;
    width: 5%;
    padding-bottom: 0;
}

.search-bar{
    border: none;
    border-radius: 5px;
    background-color: rgba(217, 217, 219,0.8);
    padding: 8px;
    width: 90%;
    margin: 20px auto auto auto;
}

.champions-sort, .champions-search, .champions-filter{
    padding: 2px;
    justify-content: center;
    border: none
}
.champions-sort label{
    font-family: 'ZCOOL KuaiLe';
    font-size: 15px;
}
.lol-sort{
    border: 2px solid #896331;
    font-family: 'ZCOOL KuaiLe';
    padding: 2px
}

.search-for-champion{
    width:85%;
    border: 2px solid #896331;
    border-radius: 5px;
    outline:none;
    resize: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'ZCOOL KuaiLe';
    padding: 5px

}

.search-btn{
    background-color: #937341;
    border: 2px outset #896331;
    font-family: 'ZCOOL KuaiLe';
    font-size: 25px;
    outline: none;
    transition-duration:0.5s;
    width: 40px;
    height: 34px;
    overflow: hidden;
}
.search-btn:hover{
    transition: 0.3s ease;
    font-weight: bold;
    background-color: #A68747;
    border: 2px outset #937341;
}
.search-btn:active{
    box-shadow: 0 1px #101A1C;
    transform: translateY(1px);
}

.checkbox-inline{
    display: inline-flex;
    margin: 5px;
    font-family: 'ZCOOL KuaiLe';
    font-weight: bold;
}

.container-list{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-link{
    padding: 10px;
}

.blog-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    background-color: #07090a;
    color: #896331;
    opacity: 1;
    border: 3px solid #937341;
    border-radius: 4%;
    font-family: 'ZCOOL KuaiLe';
    overflow: hidden;
    margin: 5px;
    padding: 20px;
    width: 150px;
    height: 250px;
    float: left;
    outline:none;
    word-wrap: break-word;
    text-decoration: none;
}

.blog-card:hover{
    
    background-color: #07090a;
    border: 3px solid #A68747;
    opacity: 1;
    transition: 0.3s ease;
    cursor: pointer;
    
}

.blog-card:active{
    transform: translateY(2px);
}

.blog-card img{
    display: flex;
    align-content: flex-end;
    margin: auto;
    width: 40%;
    height: 30%;
}

.article-details{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.post-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.post-title img{
    width:15px;
    opacity: 1;
    padding: 0%;
    margin: auto 10px;

}

@media (max-width: 900px)
{
    .search-for-champion{
        width:80%
    }

}
@media (max-width: 650px)
{
    .search-for-champion{
        width:70%
    }
}

@media (max-width: 700px)
{
    body{
        padding: 0px
    }
    .title-lol{
        width: 55%;
    }
    .subtitle-lol{
        font-size: 120%;
        padding: 5%
    }
    .blog-card{
        width: 101px;
        height: 144px;
        padding: 8%;
        font-size: 65%
    }
    .post-name, .post-title{
        margin: 2px
    }
    .container-list{
        margin: auto;
        padding-top: 2%
    }
    
}
@media (max-width: 400px)
{
    .blog-card{
        width: 90px;
        height: 128px;
        padding: 2%;
        font-size: 63%
    }
}
@media (max-width: 400px)
{
    .kda-video{
        width: 100%;
    }
    
    .summoners-code{
        width: 98%;
        margin: auto;
        text-align: center;
        padding: 0%;
        margin-bottom: 35px
    }
    .explanation-box{
        width: 96%;
        margin-bottom: 15px;
        font-size: 13px
    }
}
.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}


.modal-close {
    color: white;
    line-height: 25px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;
    text-decoration: none;
}

.modal-close:hover {
    color:gray;
  }

.modal-content{
    font-family: 'ZCOOL KuaiLe';
    width: 40%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    
}


table, th, td {
    border: 2px inset #896331;
    border-collapse: collapse;
  }

.modal-info{
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    width: 55%;
    height: 90%;
    color: black;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border: 3px inset #896331;
    border-radius: 1%;
    overflow: auto;
}

.modal-info::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: silver;
}

.modal-info::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
	background-color: gray;
}

.modal-info::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #896331;
}

.modal-info img{
    padding-top: 15px;
    width: 20%;
}

.modal-info h1{
    margin: 0 auto;
    font-size: 40px;
}

.modal-info h3{
    margin: 0 auto;
    font-size: 25px;
}

.modal-img{
    background-position: center;
    width: 100%;
    height: auto;
}

/* Slideshow automático de imágenes */

.mySlides {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;

}
.mySlides img {
    vertical-align: middle;
    width:100%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(137, 99, 49, 0.8);
  color:black;
}

/* Caption text */
.text {
    color: white;
    font-size: 20px;
    width: 90%;
    font-family: 'ZCOOL KuaiLe';
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Number text (1/6 etc) */
.numbertext {
  color: white;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: 'ZCOOL KuaiLe';
}

/* The dots/bullets/indicators */
.dot-chain{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #A68747;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.active-slide-img, .dot:hover {
  background-color: #896331;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* Video Home*/

.video-container h2{
    font-family: aGaramondPro;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.video-container p{
    font-family: 'ZCOOL KuaiLe';
    font-size: 20px;
    color: white;
    text-align: justify;
}